<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.urgameguru">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.URGameGuru">
        <activity
            android:name=".comment_list.CommentListActivity"
            android:exported="true"
            android:label="@string/title_activity_comment_list"
            android:theme="@style/Theme.URGameGuru.NoActionBar" />
        <activity
            android:name=".article_list.ArticleListActivity"
            android:exported="true"
            android:label="@string/title_activity_article_list"
            android:theme="@style/Theme.URGameGuru.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".my_game_detail.MyGameDetailActivity" />
        <activity android:name=".game_detail.GameDetailActivity" />
        <activity android:name=".add_article.AddArticleActivity" />
        <activity android:name=".media_gallery.MediaGalleryActivity" />
    </application>

</manifest>